@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Space+Grotesk:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-brand-black: #000000;
  --color-brand-gray-dark: #1A1A1A;
  --color-brand-gray: #333333;
  --color-brand-gray-light: #A3A3A3;
  --color-brand-white: #FFFFFF;
}

@layer base {
  body {
    @apply bg-black text-white antialiased selection:bg-white selection:text-black;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-b from-white to-neutral-500;
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-black;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}
